<div class="dashboard-home-wrapper">
    <div class="container-fluid">
        <h3>Dr. <%= user.firstName %> <%= user.lastName %>'s Dashboard</h3><br>
        <h5>Recent Appointments</h5>
        <div class="recent-appointments-container">
            <!-- for each statement traversing all the requests -->

            <% requests.forEach(request=> { %>
                <% if (request.doctor_id==userid && !request.status ){ %>
                    <% patients.forEach(patient=> { %>
                        <% if (request.user_id==patient._id){ %>
                            <div class="appointment-col d-flex align-items-center">
                                <img class="patient-img" src="/images/undraw_profile_1.svg">
                                <div class="col-right">
                                    <p class="appointment-reason"><%= request.reason %></p>
                                    <h6 class="name-patient">
                                        <%= patient.firstName %>
                                            <%= patient.lastName%>
                                    </h6>
                                </div>
                                <div class="col-left">
                                    <div class="appointment-sched d-flex align-items-center">
                                        <h6 class="sched-time">
                                            <%= request.appointment_time %>
                                        </h6>
                                        <div class="vertical"></div>
                                        <h6 class="sched-date">
                                            <%= request.appointment_date%>
                                        </h6>
                                    </div>
                                    <% if (!request.status) { %>
                                    <h6 class="appointment-status" id="status-pending">Pending</h6>
                                    <% } else { %>
                                <h6 class="appointment-status" id="status-accept">Accepted</h6>
                                    <%}%>
                                </div>
                                <a class="right-icon" type="button" data-toggle="modal" data-target="#appointment-modal"><img src="/images/right-arrow@20px.svg"></a>
                            </div>

                            <!-- Modal -->
                            <div class="modal" id="appointment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a type="button" class="close-app-btn" aria-label="Close"><img src="/images/close.svg">
                                            </a>
                                        </div>
                                        <div class="modal-body">

                                            <% if (!request.status) { %>
                                            <h5 class="modal-status" id="status-pending">Pending</h5>
                                                <% } else { %>
                                                    <h5 class="modal-status" id="status-accept">Accepted</h5>
                                                <%}%> 

                                            <p class="modal-reason">On-off fever for 5 days straight</p>
                                            <div class="modal-sched d-flex align-items-center">
                                                <h4 class="modal-time"><%= request.appointment_time%></h4>
                                                <div class="modal-vertical"></div>
                                                <h4 class="modal-date"><%= request.appointment_date%></h4>
                                            </div>
                                            <div class="modal-patient">
                                                <h6 class="booked-by">Booked by</h6>
                                                <h4 class="modal-name"><%= patient.firstName %> <%= patient.lastName%></h4>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="decline-btn" class="btn btn-secondary">Decline</button>
                                            <button type="button" id="approve-btn" class="btn btn-primary"><a href='/approve_patient/<%= patient._id %>'>Approve</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
                                        <!-- end of foreach loop -->
        </div>
        <a href="/appointments">View All</a>
        <h5>Recent Transactions</h5>
        <h6>You have no recent transactions</h6>
        <!-- <div class="recent-transactions-container">
            <div class="appointment-col d-flex align-items-center">
                <img class="patient-img" src="/images/undraw_profile_1.svg">
                <div class="col-right">
                    <p class="appointment-reason">Vomiting and experience nausea</p>
                    <h6 class="name-patient">JB Magsipoc</h6>
                </div>
                <div class="col-left">
                    <div class="appointment-sched d-flex align-items-center">
                        <h6 class="consultation-fee">P500.00</h6>
                    </div>
                    <h6 class="appointment-status" id="status-accept">Payed</h6>
                </div>
                <a class="right-icon" type="button"><img src="/images/right-arrow@20px.svg"></a>
            </div>
        </div> -->
    </div>
</div>